.grid{
    height: 295px !important;
    width: 100% !important;
    object-fit: cover !important;
}

.photo {
    height: 350px !important;
    width: 350px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

#granola {
    object-position: bottom;
}